img.aftercodecs-os {
	height: 32px;
	margin: 0 4px;
}


img.aftercodecs-os-little {
	height: 22px;
	margin: -6px 0 0 0;
}


.afc_discount
{
	font-size: 60%;
}


#banner_section
{
  background-position: center top 40%;
}

.invert
{
	filter: invert(100%);
}

/* https://caniuse.com/#feat=css-filters */

/*span.special_banner_img
{
	border-radius: 8px;
	padding: 8px;
	margin: 6px;
	background-color: #3d435f;
	color: #fff;
}

#banner_logo
{
	margin-bottom: -20px;
}

#banner_section
{
}

#banner_gradient
{
	opacity: .65;
}

#banner_container
{
	width : 2000px;
	max-width : 2000px;
	font-size: 340%;
	height: 500px;
}

img.aftercodecs-os {
	height: 96px;
	margin: 0 24px;
}*/