/*.p-link {
  &.is-mac {
    &::after {
      content: ' for mac';
    }
  }

  &.is-windows {
    &::after {
      content: ' for windows';
    }
  }

  &.is-inverted {
    &.is-mac {
      &::after {
        content: ' for windows';
      }
    }

    &.is-windows {
      &::after {
        content: ' for mac';
      }
    }
  }
}
*/