<% var classes = classes || ''; %>
<% var title = title || name; %>
<span class="p-icon <%- classes %>">
  <svg>
    <title><%- title %></title>
    <use xlink:href="/img/icons.svg#<%- name %>"></use>
  </svg>
</span>
