$color-neutral-0: #202020;
$color-neutral-1: #697084;
$color-neutral-2: #e3e4e8;
$color-neutral-3: #fff;

$color-primary: #B4003D;
$color-secondary: #293351;
$color-terniary: #f0c230;

$color-font: $color-neutral-1;
$color-background: $color-neutral-3;

$gradient-primary: linear-gradient(135deg, #293351, #B4003D);
