$core-font-smoothing: true;

$core-font-family: $sans-serif;
$core-font-size: 'medium';
$core-font-weight: $normal;
$core-font-color: $color-font;

$core-headings-font-family: $sans-serif;
$core-headings-font-weight: $normal;

$core-code-font-family: $mono;
$core-code-font-weight: $normal;

$core-link-color: inherit;
$core-link-decoration: underline;

$core-background: $color-background;
