//  ========================================================================  //
//  Font Family
//  ========================================================================  //

$serif: serif;
$sans-serif: 'Asap', sans-serif;
$mono: monospace;

//  ========================================================================  //
//  Font Weight
//  ========================================================================  //

$light: 200;
$normal: 400;
$bold: 800;

//  ========================================================================  //
//  Font variants
//  ========================================================================  //

$fonts: (
  'small': (
    'font-size': (
      'main': 14px
    ),
    'line-height': 1.5
  ),
  'medium': (
    'font-size': (
      'main': 16px
    ),
    'line-height': 1.5
  ),
  'large': (
    'font-size': (
      'main': 36px
    ),
    'line-height': 1.2
  )
);

//  ========================================================================  //
//  Text alignments
//  ========================================================================  //

$text-alignments: (center);
$text-alignments-responsive: false;
